
/* csssssssss loadddedinggggg animmmation         */

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px black;
    border: 6px solid rgb(0, 13, 189);
    border-color: rgb(2, 94, 170) transparent rgb(1, 129, 129) transparent;
    animation: lds-dual-ring 0.9s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }

  }
  