.kratos-form-container{
    height: 100vh;
    margin: 0px auto;
    width: 40%;
    padding: 2rem;
    
}
.kratos-upload-first{
    background: url("../assets/img/bosse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: white;
    height: 100vh;

}

.kratosText{
    background: #00000060;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 4rem;
}