.kratos-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background-image: url("../assets/img/calme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.kratosText{
    padding: 2rem;
    background: #00000060;
    color: white;
    margin-top: 0.5rem;
    border-radius: 15px solid white;
    box-shadow: 0px 0px 5px solid #00000090;
}

.filepond--root{
    max-width: 28rem;
    width: 20rem;
    margin: 0px auto;
    box-shadow: 0px 0px 15px black;
    margin-top: 1rem;
    border-radius: 15px;
}

.filepond--drop-label{
    background: rgba(4, 70, 250, 0.192)
}
